.gitignore
.vscode/
/MedoTotal/MedoTotal.ipynb
/MedoTotal/MedoTotal_eng.ipynb
/MedoTotal/playground.ipynb
/MedoTotal/__pycache__/
AvalCont2/Pergunta1AvalContinua2.ipynb
AvalCont2/Pergunta2AvalContinua2.ipynb
AvalCont2/Pergunta3AvalContinua2.ipynb
AvalCont2/__pycache__/
ProjectoKalah_v2/Imagens
ProjectoKalah_v2/jogoKalah-proj2_v2.ipynb